--- SECCIÓN GENERAL --- .catalog-section {
  width: 100%;
  padding: 50px 40px;
  box-sizing: border-box;
}

/* --- TITULO Y SUBTITULO --- */
.catalog-header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 133px;
}

.catalog-header h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
}

.catalog-header p {
  color: #242424;
  font-size: 18px;
  margin-top: 10px;
}

.header-line {
  width: 80px;
  height: 4px;
  background-color: #bb9b42;
  margin: 15px auto 0;
  border-radius: 4px;
}

/* --- GRID DEL CATÁLOGO --- */
.catalog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  width: 75%;
  margin: 0 auto;
}

/* --- TARJETA DEL PRODUCTO --- */
.catalog-card {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.catalog-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.45);
  border: 1px solid #d4af37;
}

.product-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.catalog-card:hover .product-img {
  transform: scale(1.08);
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-content h3 {
  color: #070707;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.description {
  color: #474747;
  font-size: 14px;
  line-height: 1.4;
}

.price {
  font-size: 20px;
  font-weight: 400;
  color: #d8a518;
}

/* --- BOTONES --- */
.btn-add {
  background: #c49c69;
  color: #f3f3f3;
  padding: 9px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  transition: transform 0.25s ease, box-shadow 0.25s ease, background 0.25s ease;
}

.btn-add:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(247, 204, 87, 0.45);
  background: #e2bf92;
}

.btn-desc {
  background: transparent;
  border: 1px solid #c09967;
  color: #c58d45;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  transition: 0.2s;
  font-weight: 400;
}

.btn-desc:hover {
  background-color: #262317;
  border: 1px solid #f7cc57;
}

/* --- RESPONSIVE --- */

/* 3 columnas */
@media (max-width: 1300px) {
  .catalog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 2 columnas */
@media (max-width: 900px) {
  .catalog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1 columna */
@media (max-width: 600px) {
  .catalog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
