.featured-container {
  padding: 75px 20px;
  text-align: center;
  color: #000000;
  background: #fdfdfe;
}

.featured-title {
  font-size: 32px;
  font-weight: 400;
}

.featured-line {
  width: 80px;
  height: 3px;
  background: #d4b447;
  margin: 10px auto 40px auto;
  border-radius: 4px;
}

/* Grid de tarjetas */
.featured-grid {
  display: flex;
  justify-content: center;
  gap: 29px;
  flex-wrap: wrap;
}

/* Card */
.perfume-card {
  width: clamp(280px, 30vw, 450px);
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(212, 180, 55, 0.15);
  position: relative;
}
/* Imagen */
.perfume-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Etiqueta Superior */
.tag {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #c39b69;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
}

/* Información */
.info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 29px;
}

.perfume-info h3 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: #101851;
  text-align: left;
  padding: 10px 30px;
  padding-bottom: 0px;
}

.perfume-info p {
  font-size: 15px;
  opacity: 0.8;
  margin: 10px 16px;
  color: #000000;
  text-align: justify;
  padding: 11px;
  padding-top: 0px;
}

.price {
  font-size: 18px;
  font-weight: 400;
  color: #c39b69;
  display: block;
  margin-bottom: 15px;
}

/* Botón */
.add-btn {
  background: #bb9561;
  color: #ffffff;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  transition: 0.3s;
}

.add-btn:hover {
  transform: scale(1.05);
  background: #755e3d;
}

/* 📱 Responsive */
@media (max-width: 768px) {
  .perfume-card {
    width: 95%;
  }

  .perfume-img {
    height: 280px;
  }

  .info-bottom {
    flex-direction: column;
    gap: 10px;
  }
}
