.footer-container {
  background: #ffffff;
  padding: 59px 24px 5px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  padding-bottom: 30px;
  margin-left: 8%;
}

.footer-col {
  flex: 1;
}

/* LOGO + NOMBRE */
.footer-logo-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-brand {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  color: #dba766;
}
.footer-sub {
  margin: 0;
  font-size: 12px;
  letter-spacing: 1px;
  color: #000000;
}

.footer-desc {
  margin: 15px 0;
  width: 75%;
  line-height: 1.5;
  color: #1e1e1e;
  font-size: 15px;
}

/* UBICACIÓN */
.footer-location {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #161616;
}

.footer-icon {
  font-size: 18px;
}

/* ENLACES */
.footer-title {
  color: #b79d43;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
}

.footer-links {
  list-style: none;
  padding: 0;
  color: #aba087;
}

.footer-links li {
  margin: 8px 0;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
  color: #1e1e1e;
}

.footer-links li:hover {
  color: #d4b447;
}

/* REDES SOCIALES */
.footer-social {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #d4b447;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.social-circle:hover {
  background: #d4b447;
  color: #000;
}

/* LÍNEA SEPARADORA */
.footer-line-up {
  border-color: #c49c69;
  margin: 56px 10px;
}

.footer-line {
  border-color: #c49c69;
  margin: 15px 139px;
}

/* COPYRIGHT */
.footer-copy {
  text-align: center;
  font-size: 14px;
  color: #252525;
}

/* RESPONSIVE */
@media (max-width: 850px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-desc {
    width: 100%;
  }
}
