.valores-section {
  padding: 50px 20px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.valores-title {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 40px;
  color: #313131;
}

/* --- Tarjetas --- */
.valores-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.valor-card {
  display: flex;
  background: white;
  border: 1px solid rgb(161 161 161 / 30%);
  padding: 25px;
  width: 260px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 200, 80, 0.05);
  transition: 0.3s ease;
  flex-direction: column;
  align-items: center;
}

.valor-card:hover {
  transform: translateY(-5px);
  border-color: rgb(214, 182, 40);
}

.valor-icon {
  font-size: 45px;
  color: #ffffff;
  border-radius: 42px;
  width: 26%;
  padding: 7px;
  background-color: #bd9763;
}

.valor-card h3 {
  color: #f1cf7e;
  margin-bottom: 10px;
  font-weight: 400;
}

.valor-card p {
  font-size: 0.95rem;
  opacity: 0.9;
  color: #393939;
}

/* --- Imágenes inferiores --- */
.valores-gallery {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.valores-gallery img {
  width: 330px;
  height: 330px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgb(155 155 155 / 15%);
  box-shadow: 0 0 15px rgba(255, 200, 80, 0.05);
  transition: 0.3s ease;
}

.valores-gallery img:hover {
  transform: scale(1.03);
  border-color: #c49425;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .valor-card {
    width: 90%;
  }

  .valores-gallery img {
    width: 90%;
    height: auto;
  }
}
